$front-face: #202020;
$front-accent: steelblue;
$body-alter-background: aliceblue;
$header-face: white;
$header-accent: forestgreen;
$logo-face: orange;
body {
  display: flex;
  flex-direction: column;
  color: $front-face;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  margin:0;
}

header {
  margin: 0;
  background: $front-face;
  font-family: "Roboto", 'Segoe UI', Tahoma, sans-serif;
  font-weight: 300;

  @media (max-width: 640px) {
    font-size: 0.8em;
  }

  @media (max-width: 480px) {
    font-size: 0.75em;
  }

  @media (max-width: 400px) {
    font-size: 0.7em;
  }

  @media (max-width: 360px) {
    font-size: 0.6em;
  }

  @media (max-width: 320px) {
    font-size: 0.55em;
  }

  address {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    font-style: normal;
    margin: 0.5em 0 1.5em 0;

    a {
      color: $header-face;
      text-decoration: none;
      white-space: nowrap;
      margin: 0.5em 0.5em 0 0.5em;
    }

    @media (max-width: 640px) {
      font-size: 1.5em;
    }

    @media (max-width: 360px) {
      font-size: 1.75em;
    }
  }
}

a{
  color: $front-accent;
}

h1 {
  color: $header-accent;
  font-size: 2.5em;
  font-family: inherit;
  font-weight: inherit;
  margin:0;

  em {
    color: $header-face;
    font-style: normal;
  }

  &::before {
    content: "<tr>";
    color: $logo-face;
    font-size: 4em;
    display: block;
    font-weight: 400;
  }
}

article {
  &:nth-child(odd) {
    background-color: #e0e0e0;
    background-color: $body-alter-background;
  }
  img {
    height: 5em;
  }
  li {
    width: 12em;
    margin-bottom: 2em;
    &.mobile-5 > img {
      background-color: rgba(0, 0, 0, 0.3);
    }
    a {
      font-weight: 400;
    }
  }
}

h2 {
  font-family: "Roboto", 'Segoe UI', Tahoma, sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  margin: 1.5em;

  @media (max-width: 640px) {
    font-size: 1.5em;
  }
}

p {
  margin: 1.5em;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.5em;

  em {
    font-style: normal;
    font-size: 1.25em;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.5em;
}

footer {
  margin-top: auto;
  padding: 1em;
  background: $front-face;
  color: $header-face;

  small {
    display: block;
    margin-top: 0.75em;
    line-height: 1.5em;
    font-weight: 300;
    color: grey;
  }

  address {
    font-style: normal;
  }
}
