@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300,400');

body {
  display: flex;
  flex-direction: column;
  color: #202020;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  margin:0;
}

header {
  margin: 0;
  background: #202020;
  font-family: "Roboto", 'Segoe UI', Tahoma, sans-serif;
  font-weight: 300;

  @media (max-width: 640px) {
    font-size: 0.8em;
  }

  @media (max-width: 480px) {
    font-size: 0.75em;
  }

  @media (max-width: 400px) {
    font-size: 0.7em;
  }

  @media (max-width: 360px) {
    font-size: 0.6em;
  }

  @media (max-width: 320px) {
    font-size: 0.45em;
  }
}

h1 {
  color:green;
  font-size: 2.5em;
  font-family: inherit;
  font-weight: inherit;
  margin:0;

  em {
    color: white;
    font-style: normal;
  }

  &::before {
    content: "<tr>";
    color: orange;
    font-size: 4em;
    display: block;
    font-weight: 400;
  }
}

address {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  font-style: normal;
  margin: 0.5em 0 1.5em 0;

  a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
    margin: 0.5em 0.5em 0 0.5em;
  }

  @media (max-width: 640px) {
    font-size: 1.5em;
  }

  @media (max-width: 360px) {
    font-size: 1.75em;
  }

  @media (max-width: 320px) {
    font-size: 2em;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  h1 {
    padding-bottom: 0.15em;
    &::before{
      font-size: 1.4em;
      padding-right: 0.25em;
    }
  }
  &.active {
    opacity: 1;
  }
}

h2 {
  font-weight: 400;
  margin: 1.5em 0;

  @media (max-width: 360px) {
    font-size: 18px;
  }

  @media (max-width: 320px) {
    font-size: 16px;
  }
  + h2 {
    margin: 0 0 1.5em 0;
  }
}

footer {
  margin-top: auto;
  padding: 1em;
  background: #202020;
  color: white;
}
