body {
  display: flex;
  flex-direction: column;
  color: #202020;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0; }

header {
  margin: 0;
  background: #202020;
  font-family: "Roboto", 'Segoe UI', Tahoma, sans-serif;
  font-weight: 300; }
  @media (max-width: 640px) {
    header {
      font-size: 0.8em; } }
  @media (max-width: 480px) {
    header {
      font-size: 0.75em; } }
  @media (max-width: 400px) {
    header {
      font-size: 0.7em; } }
  @media (max-width: 360px) {
    header {
      font-size: 0.6em; } }
  @media (max-width: 320px) {
    header {
      font-size: 0.55em; } }
  header address {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    font-style: normal;
    margin: 0.5em 0 1.5em 0; }
    header address a {
      color: white;
      text-decoration: none;
      white-space: nowrap;
      margin: 0.5em 0.5em 0 0.5em; }
    @media (max-width: 640px) {
      header address {
        font-size: 1.5em; } }
    @media (max-width: 360px) {
      header address {
        font-size: 1.75em; } }

a {
  color: steelblue; }

h1 {
  color: forestgreen;
  font-size: 2.5em;
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  text-transform: lowercase; }
  h1 em {
    color: white;
    font-style: normal; }
    h1 em:first-child::before {
      content: "https://";
      color: forestgreen; }
    h1 em + em:before {
      content: "."; }
  h1::before {
    content: "<tr>";
    color: orange;
    font-size: 4em;
    display: block;
    font-weight: 400; }

.loader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }
  .loader-wrap > .loader {
    color: orange;
    font-size: 4em;
    font-weight: 400;
    background-color: #202020;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 78px;
    line-height: 150px;
    white-space: nowrap;
    border: 3px solid aliceblue;
    z-index: 1500;
    animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
article:nth-child(odd) {
  background-color: #e0e0e0;
  background-color: aliceblue; }
article li {
  width: 12em;
  margin-bottom: 2em; }
  article li > img {
    height: 5em; }
  article li.mobile-5 > img {
    background-color: rgba(0, 0, 0, 0.3); }
  article li a {
    font-weight: 400; }

h2 {
  font-family: "Roboto", 'Segoe UI', Tahoma, sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  margin: 1.5em; }
  @media (max-width: 640px) {
    h2 {
      font-size: 1.5em; } }

p {
  margin: 1.5em;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.5em; }
  p em {
    font-style: normal;
    font-size: 1.25em; }

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.5em; }

footer {
  margin-top: auto;
  padding: 1em;
  background: #202020;
  color: white; }
  footer img {
    height: 2em; }
  footer small {
    display: block;
    margin-top: 0.75em;
    line-height: 1.5em;
    font-weight: 300;
    color: grey; }
  footer address {
    font-style: normal; }

/*# sourceMappingURL=main.css.map */
