$front-face: #202020;
$front-accent: DarkSlateGray;
$body-alter-background: aliceblue;
$header-face: white;
$header-accent: forestgreen;
$logo-face: orange;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: local('Roboto Light'), local('Roboto-Light'), local('sans-serif-light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhpKKSTjw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  display: flex;
  flex-direction: column;
  color: $front-face;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  margin:0;
}

header {
  margin: 0;
  background: $front-face;
  font-family: "Roboto", 'Segoe UI', Tahoma, sans-serif;
  font-weight: 300;

  @media (max-width: 640px) {
    font-size: 0.8em;
  }

  @media (max-width: 480px) {
    font-size: 0.75em;
  }

  @media (max-width: 400px) {
    font-size: 0.7em;
  }

  @media (max-width: 360px) {
    font-size: 0.6em;
  }

  @media (max-width: 320px) {
    font-size: 0.55em;
  }

  > img {
    height: 9.6em;
    display: inline-block;
    margin: 1.5em 0 0.9em 0;
  }

  address {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    font-style: normal;
    margin: 0.5em 0 1.5em 0;

    a {
      color: $header-face;
      text-decoration: none;
      white-space: nowrap;
      margin: 0.5em 0.5em 0 0.5em;
    }

    @media (max-width: 640px) {
      font-size: 1.5em;
    }

    @media (max-width: 360px) {
      font-size: 1.75em;
    }
  }
}

a{
  color: $front-accent;
}

h1 {
  color: $header-accent;
  font-size: 2.5em;
  font-family: inherit;
  font-weight: inherit;
  margin:0;
  text-transform: lowercase;

  em {
    color: $header-face;
    font-style: normal;
    &:first-child::before{
      content: "https://";
      color: $header-accent;
    }
    + em:before {
      content: ".";
    }
  }
}

.loader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  > .loader {
    color: $logo-face;
    font-size: 4em;
    font-weight: 400;
    background-color: $front-face;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 78px;

    line-height: 150px;
    white-space: nowrap;


    border: 3px solid $body-alter-background;
    z-index: 1500;
    animation: spin 2s linear infinite;
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

article {
  &:nth-child(odd) {
    background-color: #e0e0e0;
    background-color: $body-alter-background;
  }
  li {
    width: 12em;
    margin-bottom: 2em;
    > img {
      max-height: 5em;
      max-width: 10em;
    }
    &.mobile-5 > img {
      background-color: rgba(0, 0, 0, 0.3);
      max-width: 5em;
    }
    a {
      font-weight: 400;
    }
  }
}

h2 {
  font-family: "Roboto", 'Segoe UI', Tahoma, sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  margin: 1.5em;

  @media (max-width: 640px) {
    font-size: 1.5em;
  }
}

h4 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 1.5em;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.5em;

  em {
    font-style: normal;
    font-size: 1.25em;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.5em;
}

footer {
  margin-top: auto;
  padding: 1em;
  background: $front-face;
  color: $header-face;

  li {
    margin: 0.25em;
  }

  img {
    height: 1.5em;
  }

  small {
    display: block;
    margin-top: 0.75em;
    line-height: 1.5em;
    font-weight: 300;
    color: silver;
  }

  address {
    font-style: normal;
  }
}
